openapi: 3.0.0
info:
  title: cbledger-api
  version: '1.0'
  description: cbLedger is a free RESTful API collecting and distributing data from all major central banks around the world.
  contact:
    name: Arthur Coimbra
    url: 'https://www.cbledger.com/about'
    email: contact@cbledger.com
servers:
  - url: 'https://api.cbledger.com'
paths:
  /v1/timeseries/singleseries:
    get:
      parameters:
        - schema:
            type: string
          in: query
          name: series
          description: Name of the time series.
          required: true
        - schema:
            type: string
          in: query
          name: region
          description: Target central bank/country.
          required: true
      description: 'Returns time series along side its description, unit and frequency.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      'satus:':
                        type: string
                      series:
                        type: string
                      region:
                        type: string
                  response:
                    type: object
                    properties:
                      info:
                        type: object
                        properties:
                          code:
                            type: string
                          description:
                            type: string
                          unit:
                            type: string
                          freq:
                            type: string
                      table:
                        type: array
                        items:
                          type: object
                          properties:
                            series:
                              type: string
                            value:
                              type: string
                            date:
                              type: string
                x-examples:
                  Example 1:
                    request:
                      'satus:': Success
                      series: gdp_usd
                      region: unitedstates
                    response:
                      info:
                        code: GDP
                        description: Gross Domestic Product
                        unit: Billions of Dollars
                        freq: Q
                      table:
                        - series: UNITEDSTATES#GDP_USD
                          value: '275.034'
                          date: '1949-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '271.351'
                          date: '1949-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '272.889'
                          date: '1949-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '270.627'
                          date: '1949-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '280.828'
                          date: '1950-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '290.383'
                          date: '1950-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '308.153'
                          date: '1950-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '319.945'
                          date: '1950-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '336'
                          date: '1951-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '344.09'
                          date: '1951-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '351.385'
                          date: '1951-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '356.178'
                          date: '1951-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '359.82'
                          date: '1952-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '361.03'
                          date: '1952-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '367.701'
                          date: '1952-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '380.812'
                          date: '1952-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '387.98'
                          date: '1953-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '391.749'
                          date: '1953-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '391.171'
                          date: '1953-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '385.97'
                          date: '1953-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '385.345'
                          date: '1954-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '386.121'
                          date: '1954-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '390.996'
                          date: '1954-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '399.734'
                          date: '1954-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '413.073'
                          date: '1955-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '421.532'
                          date: '1955-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '430.221'
                          date: '1955-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '437.092'
                          date: '1955-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '439.746'
                          date: '1956-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '446.01'
                          date: '1956-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '451.191'
                          date: '1956-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '460.463'
                          date: '1956-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '469.779'
                          date: '1957-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '472.025'
                          date: '1957-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '479.49'
                          date: '1957-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '474.864'
                          date: '1957-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '467.54'
                          date: '1958-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '471.978'
                          date: '1958-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '485.841'
                          date: '1958-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '499.555'
                          date: '1958-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '510.33'
                          date: '1959-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '522.653'
                          date: '1959-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '525.034'
                          date: '1959-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '528.6'
                          date: '1959-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '542.648'
                          date: '1960-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '541.08'
                          date: '1960-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '545.604'
                          date: '1960-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '540.197'
                          date: '1960-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '545.018'
                          date: '1961-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '555.545'
                          date: '1961-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '567.664'
                          date: '1961-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '580.612'
                          date: '1961-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '594.013'
                          date: '1962-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '600.366'
                          date: '1962-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '609.027'
                          date: '1962-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '612.28'
                          date: '1962-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '621.672'
                          date: '1963-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '629.752'
                          date: '1963-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '644.444'
                          date: '1963-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '653.938'
                          date: '1963-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '669.822'
                          date: '1964-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '678.674'
                          date: '1964-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '692.031'
                          date: '1964-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '697.319'
                          date: '1964-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '717.79'
                          date: '1965-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '730.191'
                          date: '1965-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '749.323'
                          date: '1965-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '771.857'
                          date: '1965-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '795.734'
                          date: '1966-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '804.981'
                          date: '1966-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '819.638'
                          date: '1966-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '833.302'
                          date: '1966-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '844.17'
                          date: '1967-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '848.983'
                          date: '1967-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '865.233'
                          date: '1967-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '881.439'
                          date: '1967-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '909.387'
                          date: '1968-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '934.344'
                          date: '1968-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '950.825'
                          date: '1968-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '968.03'
                          date: '1968-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '993.337'
                          date: '1969-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1009.02'
                          date: '1969-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1029.956'
                          date: '1969-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1038.147'
                          date: '1969-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1051.2'
                          date: '1970-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1067.375'
                          date: '1970-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1086.059'
                          date: '1970-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1088.608'
                          date: '1970-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1135.156'
                          date: '1971-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1156.271'
                          date: '1971-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1177.675'
                          date: '1971-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1190.297'
                          date: '1971-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1230.609'
                          date: '1972-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1266.369'
                          date: '1972-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1290.566'
                          date: '1972-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1328.904'
                          date: '1972-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1377.49'
                          date: '1973-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1413.887'
                          date: '1973-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1433.838'
                          date: '1973-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1476.289'
                          date: '1973-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1491.209'
                          date: '1974-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1530.056'
                          date: '1974-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1560.026'
                          date: '1974-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1599.679'
                          date: '1974-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1616.116'
                          date: '1975-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1651.853'
                          date: '1975-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1709.82'
                          date: '1975-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1761.831'
                          date: '1975-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1820.487'
                          date: '1976-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1852.332'
                          date: '1976-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1886.558'
                          date: '1976-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1934.273'
                          date: '1976-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '1988.648'
                          date: '1977-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2055.909'
                          date: '1977-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2118.473'
                          date: '1977-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2164.27'
                          date: '1977-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2202.76'
                          date: '1978-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2331.633'
                          date: '1978-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2395.053'
                          date: '1978-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2476.949'
                          date: '1978-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2526.61'
                          date: '1979-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2591.247'
                          date: '1979-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2667.565'
                          date: '1979-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2723.883'
                          date: '1979-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2789.842'
                          date: '1980-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2797.352'
                          date: '1980-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2856.483'
                          date: '1980-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '2985.557'
                          date: '1980-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3124.206'
                          date: '1981-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3162.532'
                          date: '1981-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3260.609'
                          date: '1981-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3280.818'
                          date: '1981-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3274.302'
                          date: '1982-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3331.972'
                          date: '1982-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3366.322'
                          date: '1982-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3402.561'
                          date: '1982-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3473.413'
                          date: '1983-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3578.848'
                          date: '1983-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3689.179'
                          date: '1983-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3794.706'
                          date: '1983-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '3908.054'
                          date: '1984-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4009.601'
                          date: '1984-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4084.25'
                          date: '1984-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4148.551'
                          date: '1984-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4230.168'
                          date: '1985-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4294.887'
                          date: '1985-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4386.773'
                          date: '1985-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4444.094'
                          date: '1985-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4507.894'
                          date: '1986-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4545.34'
                          date: '1986-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4607.669'
                          date: '1986-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4657.627'
                          date: '1986-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4722.156'
                          date: '1987-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4806.16'
                          date: '1987-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '4884.555'
                          date: '1987-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5007.994'
                          date: '1987-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5073.372'
                          date: '1988-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5190.036'
                          date: '1988-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5282.835'
                          date: '1988-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5399.509'
                          date: '1988-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5511.253'
                          date: '1989-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5612.463'
                          date: '1989-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5695.365'
                          date: '1989-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5747.237'
                          date: '1989-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5872.701'
                          date: '1990-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '5960.028'
                          date: '1990-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6015.116'
                          date: '1990-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6004.733'
                          date: '1990-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6035.178'
                          date: '1991-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6126.862'
                          date: '1991-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6205.937'
                          date: '1991-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6264.54'
                          date: '1991-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6363.102'
                          date: '1992-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6470.763'
                          date: '1992-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6566.641'
                          date: '1992-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6680.803'
                          date: '1992-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6729.459'
                          date: '1993-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6808.939'
                          date: '1993-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '6882.098'
                          date: '1993-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7013.738'
                          date: '1993-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7115.652'
                          date: '1994-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7246.931'
                          date: '1994-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7331.075'
                          date: '1994-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7455.288'
                          date: '1994-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7522.289'
                          date: '1995-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7580.997'
                          date: '1995-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7683.125'
                          date: '1995-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7772.586'
                          date: '1995-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '7868.468'
                          date: '1996-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8032.84'
                          date: '1996-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8131.408'
                          date: '1996-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8259.771'
                          date: '1996-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8362.655'
                          date: '1997-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8518.825'
                          date: '1997-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8662.823'
                          date: '1997-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8765.907'
                          date: '1997-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8866.48'
                          date: '1998-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '8969.699'
                          date: '1998-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '9121.097'
                          date: '1998-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '9293.991'
                          date: '1998-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '9411.682'
                          date: '1999-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '9526.21'
                          date: '1999-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '9686.626'
                          date: '1999-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '9900.169'
                          date: '1999-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10002.179'
                          date: '2000-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10247.72'
                          date: '2000-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10318.165'
                          date: '2000-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10435.744'
                          date: '2000-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10470.231'
                          date: '2001-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10599'
                          date: '2001-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10598.02'
                          date: '2001-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10660.465'
                          date: '2001-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10783.5'
                          date: '2002-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10887.46'
                          date: '2002-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '10984.04'
                          date: '2002-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '11061.433'
                          date: '2002-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '11174.129'
                          date: '2003-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '11312.766'
                          date: '2003-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '11566.669'
                          date: '2003-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '11772.234'
                          date: '2003-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '11923.447'
                          date: '2004-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '12112.815'
                          date: '2004-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '12305.307'
                          date: '2004-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '12527.214'
                          date: '2004-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '12767.286'
                          date: '2005-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '12922.656'
                          date: '2005-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '13142.642'
                          date: '2005-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '13324.204'
                          date: '2005-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '13599.16'
                          date: '2006-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '13753.424'
                          date: '2006-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '13870.188'
                          date: '2006-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14039.56'
                          date: '2006-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14215.651'
                          date: '2007-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14402.082'
                          date: '2007-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14564.117'
                          date: '2007-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14715.058'
                          date: '2007-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14706.538'
                          date: '2008-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14865.701'
                          date: '2008-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14898.999'
                          date: '2008-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14608.208'
                          date: '2008-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14430.901'
                          date: '2009-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14381.236'
                          date: '2009-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14448.882'
                          date: '2009-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14651.248'
                          date: '2009-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14764.611'
                          date: '2010-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '14980.193'
                          date: '2010-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '15141.605'
                          date: '2010-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '15309.471'
                          date: '2010-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '15351.444'
                          date: '2011-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '15557.535'
                          date: '2011-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '15647.681'
                          date: '2011-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '15842.267'
                          date: '2011-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16068.824'
                          date: '2012-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16207.13'
                          date: '2012-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16319.54'
                          date: '2012-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16420.386'
                          date: '2012-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16629.05'
                          date: '2013-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16699.551'
                          date: '2013-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '16911.068'
                          date: '2013-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '17133.114'
                          date: '2013-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '17144.281'
                          date: '2014-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '17462.703'
                          date: '2014-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '17743.227'
                          date: '2014-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '17852.54'
                          date: '2014-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '17991.348'
                          date: '2015-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18193.707'
                          date: '2015-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18306.96'
                          date: '2015-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18332.079'
                          date: '2015-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18425.306'
                          date: '2016-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18611.617'
                          date: '2016-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18775.459'
                          date: '2016-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '18968.041'
                          date: '2016-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '19148.194'
                          date: '2017-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '19304.506'
                          date: '2017-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '19561.896'
                          date: '2017-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '19894.75'
                          date: '2017-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '20155.486'
                          date: '2018-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '20470.197'
                          date: '2018-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '20687.278'
                          date: '2018-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '20819.269'
                          date: '2018-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21013.085'
                          date: '2019-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21272.448'
                          date: '2019-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21531.839'
                          date: '2019-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21706.532'
                          date: '2019-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21538.032'
                          date: '2020-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '19636.731'
                          date: '2020-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21362.428'
                          date: '2020-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '21704.706'
                          date: '2020-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '22313.85'
                          date: '2021-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '23046.934'
                          date: '2021-04-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '23550.42'
                          date: '2021-07-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '24349.121'
                          date: '2021-10-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '24740.48'
                          date: '2022-01-01'
                        - series: UNITEDSTATES#GDP_USD
                          value: '25248.476'
                          date: '2022-04-01'
        '':
          description: ''
      operationId: get-v1-timeseries-single-series
      summary: Single series
      tags:
        - timeseries
    parameters: []
  /v1/catalog/availableseries:
    get:
      summary: Available series
      tags:
        - catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      central bank:
                        type: string
                        minLength: 1
                      'satus:':
                        type: string
                        minLength: 1
                  response:
                    type: object
                    properties:
                      available series:
                        type: array
                        items:
                          type: object
                          properties:
                            '0':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '1':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '2':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '3':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '4':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '5':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '6':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '7':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '8':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '9':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '10':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '11':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '12':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '13':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '14':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '15':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '16':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '17':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '18':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '19':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '20':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '21':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '22':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '23':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '24':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                required:
                  - request
                  - response
      operationId: get-v1-series-identification
      description: Return all available time series for a certain region.
      parameters:
        - schema:
            type: string
          in: query
          required: true
          name: region
          description: The region to be consulted. Pass 'all' to retrieve all available time series for all regions.
    parameters: []
  /v1/catalog/availableregions:
    get:
      summary: Available regions
      tags:
        - catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      'satus:':
                        type: string
                      series:
                        type: string
                  response:
                    type: object
                    properties:
                      available regions:
                        type: array
                        items:
                          type: string
                x-examples:
                  Example 1:
                    request:
                      'satus:': Success
                      series: all
                    response:
                      available regions:
                        - brazil
                        - eurozone
                        - europeanunion
                        - unitedstates
                        - austria
                        - belgium
                        - cyprus
                        - germany
                        - estonia
                        - spain
                        - finland
                        - france
                        - greece
                        - ireland
                        - italy
                        - lithuania
                        - luxembourg
                        - latvia
                        - malta
                        - netherlands
                        - portugal
                        - slovenia
                        - slovakia
                        - sweden
                        - bulgaria
                        - czechrepublic
                        - denmark
                        - croatia
                        - hungary
                        - poland
                        - romania
      operationId: get-vi-catalog-available-regions
      parameters:
        - schema:
            type: string
          in: query
          description: The time series to be consulted. Pass 'all' to retrieve all available time series for all regions.
          name: series
          required: true
      description: Return all available regions for a certain time series.
    parameters: []
components:
  schemas: {}
tags:
  - name: timeseries
  - name: catalog
