openapi: 3.0.0
info:
  title: cbledger-api
  version: '1.0'
  description: cbLedger is a free RESTful API collecting and distributing data from all major central banks around the world.
  contact:
    name: Arthur Coimbra
    url: 'https://www.cbledger.com/about'
    email: contact@cbledger.com
servers:
  - url: 'http://api.cbledger.com'
paths:
  /v1/timeseries/single-series:
    get:
      parameters:
        - schema:
            type: string
          in: query
          name: series
          description: Name of the time series.
          required: true
        - schema:
            type: string
          in: query
          name: region
          description: Target central bank/country.
          required: true
      description: 'Returns time series along side its description, unit and frequency.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      region:
                        type: string
                        minLength: 1
                      'satus:':
                        type: string
                        minLength: 1
                      series:
                        type: string
                        minLength: 1
                  response:
                    type: object
                    properties:
                      details:
                        type: object
                        properties:
                          description:
                            type: string
                            minLength: 1
                          freq:
                            type: string
                            minLength: 1
                          unit:
                            type: string
                            minLength: 1
                      table:
                        type: object
                        properties:
                          data:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                  minLength: 1
                                metric:
                                  type: string
                                  minLength: 1
                                region:
                                  type: string
                                  minLength: 1
                                value:
                                  type: number
                          schema:
                            type: object
                            properties:
                              fields:
                                type: array
                                uniqueItems: true
                                minItems: 1
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      minLength: 1
                                    type:
                                      type: string
                                      minLength: 1
                              pandas_version:
                                type: string
                                minLength: 1
                              primaryKey:
                                type: array
                                items:
                                  type: object
                required:
                  - request
                  - response
      operationId: get-v1-timeseries-single-series
      summary: Single series
      tags:
        - timeseries
    parameters: []
  /v1/catalog/available-series:
    get:
      summary: Available series
      tags:
        - catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  request:
                    type: object
                    required:
                      - central bank
                      - 'satus:'
                    properties:
                      central bank:
                        type: string
                        minLength: 1
                      'satus:':
                        type: string
                        minLength: 1
                  response:
                    type: object
                    required:
                      - available series
                    properties:
                      available series:
                        type: array
                        items:
                          type: object
                          properties:
                            '0':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '1':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '2':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '3':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '4':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '5':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '6':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '7':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '8':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '9':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '10':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '11':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '12':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '13':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '14':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '15':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '16':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '17':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '18':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '19':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '20':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '21':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '22':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '23':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '24':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                required:
                  - request
                  - response
      operationId: get-v1-series-identification
      description: Return all available time series for a certain region.
      parameters:
        - schema:
            type: string
          in: query
          required: true
          name: region
          description: The region to be consulted. Pass 'all' to retrieve all available time series for all regions.
    parameters: []
  /v1/catalog/available-regions:
    get:
      summary: Available regions
      tags:
        - catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      'satus:':
                        type: string
                        minLength: 1
                      series:
                        type: string
                        minLength: 1
                  response:
                    type: object
                    properties:
                      available regions:
                        type: array
                        items:
                          type: object
                          properties:
                            '0':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                            '1':
                              type: array
                              uniqueItems: true
                              items:
                                type: object
                required:
                  - request
                  - response
      operationId: get-vi-catalog-available-regions
      parameters:
        - schema:
            type: string
          in: query
          description: The time series to be consulted. Pass 'all' to retrieve all available time series for all regions.
          name: series
          required: true
      description: Return all available regions for a certain time series.
    parameters: []
  /v1/catalog/series-identification:
    get:
      summary: Series identification
      tags:
        - catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      'satus:':
                        type: string
                        minLength: 1
                  response:
                    type: object
                    properties:
                      series1:
                        type: object
                        required:
                          - bulgaria
                          - croatia
                          - cyprus
                          - czechrepublic
                          - denmark
                          - estonia
                          - europeanunion
                          - eurozone
                          - finland
                          - france
                          - germany
                          - greece
                          - hungary
                          - ireland
                          - italy
                          - latvia
                          - lithuania
                          - luxembourg
                          - malta
                          - netherlands
                          - poland
                          - portugal
                          - romania
                          - slovakia
                          - slovenia
                          - spain
                          - sweden
                          - unitedstates
                        properties:
                          austria:
                            type: object
                            properties:
                              gdp:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          belgium:
                            type: object
                            properties:
                              gdp:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          brazil:
                            type: object
                            required:
                              - m1
                              - m2
                              - m3
                              - mb
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              gdppercapita:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m1:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m2:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m3:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              mb:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: number
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          bulgaria:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          croatia:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          cyprus:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          czechrepublic:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          denmark:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          estonia:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          europeanunion:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          eurozone:
                            type: object
                            required:
                              - gdp
                              - m1
                              - m2
                              - m3
                              - mb
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m1:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m2:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m3:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              mb:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          finland:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          france:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          germany:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          greece:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          hungary:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          ireland:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          italy:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          latvia:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          lithuania:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          luxembourg:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          malta:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          netherlands:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          poland:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          portugal:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          romania:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          slovakia:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          slovenia:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          spain:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          sweden:
                            type: object
                            required:
                              - gdp
                              - publicdebt
                            properties:
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                          unitedstates:
                            type: object
                            required:
                              - cbbalancesheet
                              - gdp
                              - gdppercapita
                              - m1
                              - m2
                              - m3
                              - mb
                              - publicdebt
                            properties:
                              cbbalancesheet:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              gdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              gdppercapita:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m1:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m2:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              m3:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              mb:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebt:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                      series2:
                        type: object
                        required:
                          - austria
                          - belgium
                          - brazil
                          - bulgaria
                          - croatia
                          - cyprus
                          - czechrepublic
                          - denmark
                          - estonia
                          - europeanunion
                          - eurozone
                          - finland
                          - france
                          - germany
                          - greece
                          - hungary
                          - ireland
                          - italy
                          - latvia
                          - lithuania
                          - luxembourg
                          - malta
                          - netherlands
                          - poland
                          - portugal
                          - romania
                          - slovakia
                          - slovenia
                          - spain
                          - sweden
                          - unitedstates
                        properties:
                          austria:
                            type: object
                            required:
                              - govsurgdp
                              - popemployed
                              - population
                              - publicdebtgdp
                              - publicdebtgrowth
                              - unemployment
                            properties:
                              govsurgdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                              popemployed:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              population:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebtgdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                              publicdebtgrowth:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                              unemployment:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                          belgium:
                            type: object
                            required:
                              - govsurgdp
                              - popemployed
                              - population
                              - publicdebtgdp
                              - publicdebtgrowth
                              - unemployment
                            properties:
                              govsurgdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                              popemployed:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              population:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                  - unit
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                                  unit:
                                    type: string
                                    minLength: 1
                              publicdebtgdp:
                                type: object
                                required:
                                  - code
                                  - description
                                  - freq
                                properties:
                                  code:
                                    type: string
                                    minLength: 1
                                  description:
                                    type: string
                                    minLength: 1
                                  freq:
                                    type: string
                                    minLength: 1
                              publicdebtgrowth:
                                type: object
                                required:
                                  - code
                                  - description
[...]
